<h2>Title</h2>
<p><%= @list.title %></p>
<h2>Body</h2>
<p><%= @list.body %></p>
<p class="sentiment-score">エンティティ分析[<%#= @list.score %>]</p>

<!--eachメソッドで展開-->

    <% @entities.each do |entity| %>
      <!--取得したデータが今回は配列の為、[]で表記-->
      <div>name: <%= entity[0] %></div>
      <div>type: <span class="<%= kind_of_entity(entity[1]) %>"><%= entity[1] %></span></div>
      <div>salience: <%= entity[2] %></div>
      <div>wikipedia_url: <%= entity [3] %></div>
    <% end %>



<h2>画像</h2>
<% if @list.image.attached? %>
  <%= image_tag @list.image.variant(resize:'300x300') %>
<% end %>
<div class="tag-box">
<% @list.tags.each do |tag| %>
  <span class="label"><%= tag.name %></span>
<% end %>
</div>
<%= link_to "削除", destroy_todolist_path(@list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<%= link_to "編集", edit_todolist_path(@list.id) %>

<script>

</script>
